/* Style général*/
/*Version mobile*/

* {font-family: 'Roboto', sans-serif;}
* {font-family: 'Shrikhand', cursive;}

h1, h2, h3, p, a {
    font-family: 'Roboto' , sans-serif;
    margin: 0;
}
$colorprim :#9356dc;
$colorsecond :#ff79da;
$colortertiaire : #99e2d0;
$boxshadow:#bebdbd ;
$backgroundcolor : #f2f2f2;
$backgroundcolorfooter : #3e3e3c;
$backgroundtransparent1 : rgb(174, 129, 228);
$backgroundtransparent2 : rgb(245, 174, 225);

@media screen and (min-width: 250px) and (max-width: 510px) {
    * {
    box-sizing: border-box;
    }
}
.papierpeint {
    box-sizing : border-box;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $backgroundtransparent1;
    box-shadow: 5px 5px 100px 25px $backgroundtransparent2 inset;
    animation: dispa 3s 2s 1 forwards;
}  
.loader1, .loader2, .loader3 {
    width: 40px;
    height: 40px;
    position: relative;
    margin : 10px;
    background: #99e2d0;
    border-radius: 50%;
    border-top: 5px solid $colorprim;
    animation: tour 2s linear infinite;
    box-shadow: 0 10px 10px $colorsecond inset;
}
@keyframes tour {
    0% { transform: rotate(0deg); opacity: 0;}
    25% { transform: rotate(0deg); opacity: 0.5;}
    50% { transform: rotate(360deg); opacity: 1;}
    75% { transform: rotate(360deg); opacity: 0.5;}
    100% { transform: rotate(360deg); opacity: 0;}
}
@keyframes dispa {
    from { opacity: 1; z-index: 9999999; }
    to { opacity: 0; z-index: -1; }
  }

/*Header - Logo */

header {
    text-align: center;
}
.logo {
    margin: 0 auto;
    padding: 10px 0 10px;
}

/*Section - Barre - Background - Fonctionnement*/

#barre_recherche {
    border-top: 3px solid rgb(211, 209, 209);
    background-color: rgb(228, 226, 226);
    padding: 12px 0;
    text-align: center;
}
input {
    font-family: 'Roboto';
    width: 150px;
    font-size: 1.2em;
    color: black;
    border: none;
    background: transparent;
    outline: transparent;
}
#background {
    text-align: center;
    background-color: $backgroundcolor;
    height: 270px;
    padding-top: 3%;
}
h1 {
    font-size: 26px;
    padding : 10px 0 10px 0;
}
p {
    font-size: 22px;
    font-weight: 400;
    padding: 10px 0 20px 0;
    color: rgb(94, 92, 92);
    font-family: 'Roboto';
}
#bouton_explorer {
    padding : 15px;
    border-radius: 25px;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 1.2em;
    background-image : linear-gradient($colorprim, $colorsecond) ;
    color: white;
    box-shadow: 0 5px 10px 0 $colorprim;
    transition: 1.5s;
}
#bouton_explorer:hover {
    background-image: linear-gradient($colorsecond, $colorprim);
    filter: brightness(0.95);
    box-shadow: 0 5px 10px 0 $colorsecond;
}
.fonction {
    padding: 30px ;
}
.btn {
    background-color: $backgroundcolor;
    border-radius :20px ;
    margin-block-start: 20px;
    transition: 1s;
}
.btn:hover {
    background-color: $backgroundtransparent2 ;
    cursor: pointer;
    box-shadow: 0 5px 10px 0 $colorprim;
}
.icone {
    display: flex;
    align-items: center;
    color: black;
    padding: 10px 0 10px 10px;
    margin: 5px 0 30px ;
    border-radius: 25px;
    box-shadow: 0 5px 10px 0 $boxshadow;
}
h3 {
    font-size: 18px;
}
.numero {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    padding: 5px 5px;
    border-radius: 50%;
    background-color:$colorprim;
    color: white;
    position: relative;
    left: -15px;
    text-align: center; 
}

.fa-mobile-screen-button, .fa-list-ul, .fa-store {
    padding: 15px;
    position: relative;
    left: -10px;
}
.color {
    color: $colorprim;
}

/*Main - Restaurants*/

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    padding: 10px 15px 40px ;
    background-color: $backgroundcolor;
    
}
.carte_resto {
    border-radius: 25px ;
    background-color: white;
    box-shadow: 0 10px 10px 0 $boxshadow;
    overflow: hidden;
    transition: 1s;
}
.carte_resto:hover {
    opacity: 0.9;
    box-shadow: 0 5px 10px 0 $colorprim;
    transform: scale(1.05);
}
.image img{
    width: 100%;
    height: 260px;
    margin: 0;
    border-radius: 25px 25px 0 0 ;
    object-fit: cover;
}
.text_coeur {
    display: flex;
    position: relative;
}
.text h3 {
    font-size: 20px;
    margin: 10px 20px ;
    color: black;
}
.quartier {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 18px;
}
.text {
     flex: 1;
}
.text_coeur .coeur i{
    position:absolute;
    top: 40px;
}
.fa-solid, .fa-regular {
    background-color: transparent;
}
.coeur {
    position: relative;
    width: 40px;
    cursor: pointer;
}
.fa-heart {
    font-size: 25px;
    position: absolute;
    top: 0;
    left:0;
    transition: 0.2s;
  }
.vide {
    color : $colorprim;
    opacity: 1;
    transition : 1s;
}
.plein {
    background: -webkit-linear-gradient($colorprim, $colorsecond);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transition: 1s;
}
.coeur:hover .vide {
    opacity: 0;
}
.coeur:hover .plein {
    opacity: 1;
}

/*Footer - Infos*/
footer {
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: $backgroundcolorfooter;
}
.logo_footer {
    width: 30%;
    padding: 20px 0;
}
.infos {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}
.mentions:hover, .contact:hover {
    color: $colorprim;
}
a.fa-solid.fa-utensils {
    display: flex;
    align-items: center;
}
a {
    color: white;
    text-decoration: none;
    padding: 10px 20px 10px 0;
}
a.fa-solid:hover{
    color: $colorprim;
}
a::before{
    padding:0 20px 5px 0;
}
span {
    font-family: 'Roboto';
    font-weight: 400;
}

/* tablette*/
@media screen and (min-width:511px) and (max-width:870px)
{
    body {
        margin: 0;
    }
    section {
        display: flex;
        flex-wrap: wrap;
        background: $backgroundcolor;    
    }
    .barre_back {
        flex: 1;
    }
    #barre_recherche {
        padding-left: 25px;
        flex: 1;
    }
    #background {
        background-image: $backgroundcolor ;
    }
    .fonction {
        width: 40%;
        margin: 20px;
        padding : 10px;
    }
    .btn {
        background-color: white;
        box-shadow: 0 5px 5px $colorsecond;
    }
    main {
        padding: 20px;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    h2 {
        width: 100%;
    }
    .carte_resto {
        width : 47% ;
    }
    footer {
        height: 180px;
    }
    .logo_footer {
        width: 20%;
    }
    .infos {
        flex-direction: row;
        justify-content: space-around;
    }
}
/* Desktop*/

@media screen and (min-width:871px) and (max-width:2000px)
{
    
    #background {
        background-image: linear-gradient(white, $backgroundcolor, white) ;
        background-size: 500% 500%;
        box-shadow: 0 1px 17px 12px $backgroundcolor inset;
        animation: gradient 10s ease infinite;
    }
    @keyframes gradient {
        0% {background-position: 0% 50%;}
        50% {background-position: 50% 100%;}
        100% {background-position: 50% 0%;}
      
    }
    .fonction {
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0 1px 17px 12px $backgroundcolor inset;
    }
    .btn {
        flex-grow: 1;
        margin: 0 30px ;
    }
    .icone {
        margin: 0;
    }
    main {
        flex-flow: row wrap;
        justify-content: space-around;
    }
    main h2 {
        width: 100%;
    }
    .carte_resto {
        width : 23% ;
    }
    footer {
        padding-bottom: 30px;
    }
    .logo_footer {
        width: 200px;
    }
    .infos {
        flex-direction: row;
        justify-content: space-around;
    }
}