/* Style général*/
/*Version mobile*/

* {font-family: 'Roboto', sans-serif;}
* {font-family: 'Shrikhand', cursive;}
$font1: 'Roboto', sans-serif ;
$font2: 'Shrikhand', cursive;

h2, h3, h4, a, p {
    font-family: $font1;
    margin: 0;
}
$colorprim :#9356dc;
$colorsecond :#ff79da;
$colortertiaire : #99e2d0;
$boxshadow:#bebdbd ;
$backgroundcolor : #f2f2f2 ;
$backgroundcolorfooter : #3e3e3c;
$backgroundtransparent1 : rgb(174, 129, 228);
$backgroundtransparent2 : rgb(243, 140, 214);


@media screen and (min-width: 510px) {
    * {
    box-sizing: border-box;
    }
}
/*page1 - La palette du gout*/

    /*Header*/

header {
    text-align: center;
}
.logo {
    display: flex;
    padding: 10px 0 10px;
    gap: 95px;
}
#index {
   padding-left: 20px;
}
.log {
    max-width: 300px;
}
.fas.fa-arrow-left::before {
    font-family: 'fontawesome';
    color:black;
    font-size: 30px;
    position: relative;
}

/* Main - menu */

main img {
    width: 100%;
    display: block;
}
h1 {
    font-size: 27px;
    font-weight: normal;
}
.fa-heart {
    font-size: x-large;
    position: relative;
    left: 190px;
}
.titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carte {
    background-color: $backgroundcolor;
    padding: 25px 20px 30px 20px;
    border-radius: 25px 25px 0 0;
}
h2 {
    font-size: 1.2em;
    margin-top: 15px;
    padding: 10px 0;
    font-weight: normal;
}
h3 {
    margin: 10px 0 5px 15px;
    cursor: pointer;
}
h4 {
    font-weight: normal;
    margin: 5px 0 10px 15px;
}
.souligne {
    width: 50px;
    height: 3px;
    background-color: $colortertiaire;
}
.plat1, .plat2, .plat3, .plat4 {
    display: flex;
    width: 100%;
    margin: 18px 0;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 5px 7px $boxshadow;
    overflow: hidden;
}
.plat1:hover .plat2 .plat3 .plat4{
    box-shadow: 0 5px 7px $colorprim;
}
.plat1 {
    animation: apparition1 2s ease ;
}
.plat2 {
    animation: apparition2 4s ease;
}
.plat3 {
    animation: apparition3 6s ease;
}
.plat4 {
    animation: apparition4 8s ease;
}
@keyframes apparition1 {
    0% { opacity: 0;}
    100% { opacity: 1;} 
}
@keyframes apparition2 {
    0% { opacity: 0;}
    100% { opacity: 1;} 
}
@keyframes apparition3 {
    0% { opacity: 0;}
    100% { opacity: 1;} 
}
@keyframes apparition4 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.ticket {
    width: 90%;
    
}
h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: width 0s 200ms ease-in-out;
}
.euro {
    font-family: $font1;
    display: flex;
    position: relative;
    width: 100px;
    align-items: flex-end;
}
p {
    width: 50px;
    padding: 10px 20px;

}
.e {
    display: block;
    padding: 25px;
    width: 50px;
    background-color: $colortertiaire;
    color: white;
    position: relative;
    left: 24px;
}
.ticket:hover h4{
    cursor: pointer;
    width: 80%;
}
.ticket:hover + .euro {
    transition: 1s ease-out ;
    transform: translateX(-65px) ; 
}
.ticket:hover + .euro .fa-circle-check {
    animation: rotation 1s 0.5s linear 1;
}

@keyframes rotation {
    0% { transform: rotate(0deg);}
    50% { transform: rotate(360deg);}
    100% {transform: rotate(0deg)}
}
#bouton {
    text-align: center;
    padding-top: 20px;
}
button {
    margin: 20px 0 ;
    padding : 18px 55px;
    border: none;
    border-radius: 30px;
    font-family: $font1;
    font-size: 1.2em;
    background-image : (linear-gradient($colorsecond, $colorprim));
    color: white;
    box-shadow: 0 10px 10px 0 $boxshadow;
    cursor: pointer;
    transition: 3s;
}
button:hover {
    background-image: linear-gradient($backgroundtransparent1, $backgroundtransparent2);
    box-shadow: 0 5px 10px 0 $colorprim;
    transition: 3s;
}

/*Footer - Infos*/

footer {
    padding-left: 20px;
    background-color: rgb(65, 62, 62);
}
.logo_footer {
    width: 35%;
    padding: 20px 0;
}
.infos {
    display: flex;
    flex-direction: column;
}
.mentions:hover, .contact:hover {
    color: $colorprim;
}
a.fa-solid.fa-utensils {
    display: flex;
    align-items: center;
}
a.fa-solid:hover {
    color: $colorprim;
}
a {
    color: white;
    text-decoration: none;
    padding: 10px 20px 10px 0;
}
a::before {
    padding:0 20px 5px 0;
}
span {
    font-family: $font1;
    font-weight: 400;
}
/* tablette*/
@media screen and (min-width:511px) and (max-width:870px)
{
   .euro {
       width: 150px;
        left: 43px;
   }
   .euro p {
       flex: 1;
   }
   .e {
       flex: 1;
   }
}
/* Desktop*/

@media screen and (min-width:871px) and (max-width:2000px)
{
    .logo {
        gap : 600px
    }
    main img {
        height: 400px;
        object-fit: cover;
    }
    .carte {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    #ticket {
        width: 95%;
    }
    .titre {
        display: inline-block;
        width: 97%;
        height: 40px;
    }
    .titre, h1 {
        margin : 0
    }
    .fa-heart {
        position: relative;
        left: 1180px;
    
    }
    .entrees, .plats, .desserts {
        width: 30%;
    }
    .euro {
        width: 155px;
        left: 43px;
    }
    .euro p {
        flex: 1;
    }
    .e {
        flex: 1;
    }
    footer {
        height: 200px;
    }
    .logo_footer {
        width: 200px;
    }
    .infos {
        flex-direction: row;
        justify-content: space-around;
    }
}