@charset "UTF-8";
/* Style général*/
/*Version mobile*/
* {
  font-family: 'Roboto', sans-serif;
}

* {
  font-family: 'Shrikhand', cursive;
}

h2, h3, h4, a, p {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

@media screen and (min-width: 510px) {
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

/*page1 - La palette du gout*/
/*Header*/
header {
  text-align: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 10px;
  gap: 95px;
}

#index {
  padding-left: 20px;
}

.log {
  max-width: 300px;
}

.fas.fa-arrow-left::before {
  font-family: 'fontawesome';
  color: black;
  font-size: 30px;
  position: relative;
}

/* Main - menu */
main img {
  width: 100%;
  display: block;
}

h1 {
  font-size: 27px;
  font-weight: normal;
}

.fa-heart {
  font-size: x-large;
  position: relative;
  left: 190px;
}

.titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carte {
  background-color: #f2f2f2;
  padding: 25px 20px 30px 20px;
  border-radius: 25px 25px 0 0;
}

h2 {
  font-size: 1.2em;
  margin-top: 15px;
  padding: 10px 0;
  font-weight: normal;
}

h3 {
  margin: 10px 0 5px 15px;
  cursor: pointer;
}

h4 {
  font-weight: normal;
  margin: 5px 0 10px 15px;
}

.souligne {
  width: 50px;
  height: 3px;
  background-color: #99e2d0;
}

.plat1, .plat2, .plat3, .plat4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 18px 0;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 0 5px 7px #bebdbd;
          box-shadow: 0 5px 7px #bebdbd;
  overflow: hidden;
}

.plat1:hover .plat2 .plat3 .plat4 {
  -webkit-box-shadow: 0 5px 7px #9356dc;
          box-shadow: 0 5px 7px #9356dc;
}

.plat1 {
  -webkit-animation: apparition1 2s ease;
          animation: apparition1 2s ease;
}

.plat2 {
  -webkit-animation: apparition2 4s ease;
          animation: apparition2 4s ease;
}

.plat3 {
  -webkit-animation: apparition3 6s ease;
          animation: apparition3 6s ease;
}

.plat4 {
  -webkit-animation: apparition4 8s ease;
          animation: apparition4 8s ease;
}

@-webkit-keyframes apparition1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes apparition1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes apparition2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes apparition2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes apparition3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes apparition3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes apparition4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes apparition4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ticket {
  width: 90%;
}

h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-transition: width 0s 200ms ease-in-out;
  transition: width 0s 200ms ease-in-out;
}

.euro {
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

p {
  width: 50px;
  padding: 10px 20px;
}

.e {
  display: block;
  padding: 25px;
  width: 50px;
  background-color: #99e2d0;
  color: white;
  position: relative;
  left: 24px;
}

.ticket:hover h4 {
  cursor: pointer;
  width: 80%;
}

.ticket:hover + .euro {
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  -webkit-transform: translateX(-65px);
          transform: translateX(-65px);
}

.ticket:hover + .euro .fa-circle-check {
  -webkit-animation: rotation 1s 0.5s linear 1;
          animation: rotation 1s 0.5s linear 1;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#bouton {
  text-align: center;
  padding-top: 20px;
}

button {
  margin: 20px 0;
  padding: 18px 55px;
  border: none;
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(#ff79da, #9356dc);
  color: white;
  -webkit-box-shadow: 0 10px 10px 0 #bebdbd;
          box-shadow: 0 10px 10px 0 #bebdbd;
  cursor: pointer;
  -webkit-transition: 3s;
  transition: 3s;
}

button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ae81e4), to(#f38cd6));
  background-image: linear-gradient(#ae81e4, #f38cd6);
  -webkit-box-shadow: 0 5px 10px 0 #9356dc;
          box-shadow: 0 5px 10px 0 #9356dc;
  -webkit-transition: 3s;
  transition: 3s;
}

/*Footer - Infos*/
footer {
  padding-left: 20px;
  background-color: #413e3e;
}

.logo_footer {
  width: 35%;
  padding: 20px 0;
}

.infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mentions:hover, .contact:hover {
  color: #9356dc;
}

a.fa-solid.fa-utensils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a.fa-solid:hover {
  color: #9356dc;
}

a {
  color: white;
  text-decoration: none;
  padding: 10px 20px 10px 0;
}

a::before {
  padding: 0 20px 5px 0;
}

span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* tablette*/
@media screen and (min-width: 511px) and (max-width: 870px) {
  .euro {
    width: 150px;
    left: 43px;
  }
  .euro p {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .e {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

/* Desktop*/
@media screen and (min-width: 871px) and (max-width: 2000px) {
  .logo {
    gap: 600px;
  }
  main img {
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .carte {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #ticket {
    width: 95%;
  }
  .titre {
    display: inline-block;
    width: 97%;
    height: 40px;
  }
  .titre, h1 {
    margin: 0;
  }
  .fa-heart {
    position: relative;
    left: 1180px;
  }
  .entrees, .plats, .desserts {
    width: 30%;
  }
  .euro {
    width: 155px;
    left: 43px;
  }
  .euro p {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .e {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  footer {
    height: 200px;
  }
  .logo_footer {
    width: 200px;
  }
  .infos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=page1.css.map */